body {
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}

ul.topnav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding-top: 24px;
    padding-left:  12px;
    padding-right: 12px;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
}

ul.topnav li .logo img {
    padding-top: -10px;
    height: 32px;
} 

ul.topnav li a:hover {
    color: mediumaquamarine;
}

.content {
    font-size: 16px;
    color: #D8D6D6;
}

.content a {
    color: #BBB8B8;
    text-decoration: underline;
}

.content a:hover{
    color: #716C6B;
    text-decoration: underline;
}

@media only screen and (max-width: 960px) {
    .content {
        font-size: 24px;
    }
  }

.Welcome {
    height: 100vh; 
    background: rgb(072, 036, 118);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.name {
    font-size: 24px;
}

.name a {
    text-decoration: none;
    color: #D8D6D6;;
}

.name a:hover{
    text-decoration: none;
    color: #716C6B;;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #D8D6D6;;
}


.profileimg img{
    height: 40vh;
    padding-left: 28px;
}

@media only screen and (max-width: 960px) {
    .name {
        font-size: 28px;
    }
    
    .profileimg img { 
      width: 30vw;
      height: auto; 
    }
  }

.About {
    height: 100vh; 
    background: rgb(078, 042, 132);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.aboutimg img{
    height: 40vh;
    padding-right: 28px;
}

@media only screen and (max-width: 960px) {
    .aboutimg img { 
      width: 30vw;
      height: auto; 
    }
  }

.aboutinfo {
    max-width: 820px;
}

.Research {
    height: 100vh; 
    background: rgb(91, 59, 140);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.Publications {
    height: 100vh; 
    background: rgb(104, 076, 150);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.Contact {
    height: 100vh; 
    background: rgb(118, 093, 160);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}