body {
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}

a {
    text-decoration: none;
    color: #ffcc33;
}

a:hover {
    text-decoration: none;
    color: #FFDF80;
}

ul.topnav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding-top: 24px;
    padding-left:  12px;
    padding-right: 12px;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
}

ul.topnav li .logo img {
    padding-top: -10px;
    height: 32px;
} 

ul.topnav li a:hover {
    color: #E6AC00
}

.content {
    font-size: 20px;
    color: #D8D6D6;
}

@media only screen and (max-width: 1200px) {
    .content {
        font-size: 20px;
    }
  }

.contentblock1 {
    height: 100vh; 
    background: rgb(072, 036, 118);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.name {
    font-size: 24px;
}


.profileimg img{
    height: 40vh;
    padding-left: 28px;
}

@media only screen and (max-width: 1200px) {
    .name {
        font-size: 28px;
    }
    
    .profileimg img { 
      width: 30vw;
      height: auto; 
    }
  }

.contentblock2 {
    height: 100vh; 
    background: rgb(078, 042, 132);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.aboutimg img{
    height: 40vh;
    padding-right: 28px;
}

@media only screen and (max-width: 1200px) {
    .aboutimg img { 
        width: 30vw;
        height: auto; 
    }
}

.aboutinfo {
    max-width: 820px;
}

.contentblock3 {
    height: 100vh; 
    background: rgb(91, 59, 140);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.contentblock4 {
    height: 100vh; 
    background: rgb(104, 076, 150);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.contentblock5 {
    height: 100vh; 
    background: rgb(118, 093, 160);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.contentblock6 {
    height: 100vh; 
    background: rgb(131, 110, 170);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.contentblock7 {
    height: 100vh; 
    background: rgb(147, 128, 182);
    color: #D8D6D6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}